@font-face {
    font-family: Dana-Light;
    src: url(../assets/font/DanaFaNum-Light/DanaFaNum-Light.eot);
    src: url(../assets/font/DanaFaNum-Light/DanaFaNum-Light.ttf);
    src: url(../assets/font/DanaFaNum-Light/DanaFaNum-Light.woff);
    src: url(../assets/font/DanaFaNum-Light/DanaFaNum-Light.woff2);
}

@font-face {
    font-family: Dana-Regular;
    src: url(../assets/font/DanaFaNum-Regular/DanaFaNum-Regular.eot);
    src: url(../assets/font/DanaFaNum-Regular/DanaFaNum-Regular.ttf);
    src: url(../assets/font/DanaFaNum-Regular/DanaFaNum-Regular.woff);
    src: url(../assets/font/DanaFaNum-Regular/DanaFaNum-Regular.woff2);
}

@font-face {
    font-family: Dana-Medium;
    src: url(../assets/font/DanaFaNum-Medium/DanaFaNum-Medium.eot);
    src: url(../assets/font/DanaFaNum-Medium/DanaFaNum-Medium.ttf);
    src: url(../assets/font/DanaFaNum-Medium/DanaFaNum-Medium.woff);
    src: url(../assets/font/DanaFaNum-Medium/DanaFaNum-Medium.woff2);
}

@font-face {
    font-family: Dana-Demibold;
    src: url(../assets/font/DanaFaNum-DemiBold/DanaFaNum-DemiBold.eot);
    src: url(../assets/font/DanaFaNum-DemiBold/DanaFaNum-DemiBold.ttf);
    src: url(../assets/font/DanaFaNum-DemiBold/DanaFaNum-DemiBold.woff);
    src: url(../assets/font/DanaFaNum-DemiBold/DanaFaNum-DemiBold.woff2);
}

@font-face {
    font-family: Dana-Bold;
    src: url(../assets/font/DanaFaNum-Bold/DanaFaNum-Bold.eot);
    src: url(../assets/font/DanaFaNum-Bold/DanaFaNum-Bold.ttf);
    src: url(../assets/font/DanaFaNum-Bold/DanaFaNum-Bold.woff);
    src: url(../assets/font/DanaFaNum-Bold/DanaFaNum-Bold.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* NAVBAR */
nav,
ul {
    font-family: Dana-Medium;
    z-index: 999;
}

/* NAVBAR */


/* SECTION-1 */
div.first {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 87vh;
}

.first-1>p {
    font-family: Dana-Medium;

}

.first-1>h2 {
    font-family: Dana-Bold;
    width: 80%;
    padding: 30px;
    font-size: 45px;
}

.first-2,
.first-2>div>button {
    font-family: Dana-Demibold;
    padding: 25px 40px;
    font-size: 16px;

}

div.first-2>div.join>option:hover {
    background-color: #f65129;
}

div.join {
    border: 1px solid #e9eaeb;
    padding: 1px 30px;
}

.first-3>span>a>i {
    padding: 25px 28px;
    border-radius: 50%;
    cursor: pointer;
}

/* SECTION-1 */


/* SECTION-2 */
div.about {
    font-family: Dana-Demibold;
    padding: 150px 50px;
}

div.about>.about-1>p {
    font-family: Dana-Regular;
}

div.about>.about-1>p,
div.about>.about-1>h2,
div.about>.about-1>h4 {
    margin: 10px 5px;
}

div.about>.about-2>img {
    width: 250px;
    height: 250px;
}

div.about>.about-3>img {
    width: 350px;
    height: 350px;
    margin-left: 100px;
}

div.about>.about-2>img,
div.about>.about-3>img {
    object-fit: cover;
    object-position: center;
}

/* SECTION-2 */


/* INFO SECTION */
div.info {
    background-image: url('../assets/Image/info/info.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 0px;

    font-family: Dana-Regular;
}

.info .info-1 {
    padding: 45px 50px;
    border-top: 20px solid #f65129;
    border-radius: 20px;
    margin-left: 125px;
    padding-left: 150px;
}

.info .info-1 h2 {
    font-family: Dana-Demibold;
    letter-spacing: -2px;
}

/* INFO SECTION */


/* SHOP SECTION */
.section-small-title {
    font-family: Dana-Medium;
    font-size: 15px;
    margin-top: 16px;
}

.shop-tittle {
    font-family: Dana-Demibold;
    font-size: 40px;
    color: #f65129;
    margin-bottom: 20px;
}

.shop-tittle-2 {
    color: black;
}

span.shop-pricing {
    margin: 20px;
    margin-right: 25px;
    font-family: Dana-Demibold;
}

.shop-image-wrap:hover .shop-btn-wrap {
    opacity: 1;
}

.shop-btn-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.8s;
}

.shop-btn {
    font-family: Dana-Demibold;
    line-height: 25px;
}

.shop-body>h4 {
    font-family: Dana-Demibold;
    font-size: 40px;
    letter-spacing: -2px;
    text-align: center;
    margin-top: 15px;
}

div.join {
    border: none;
    outline: none;
}

.part-3 {
    display: flex;
    justify-content: center;
}

div.join .btn {
    margin: 10px;
    border-radius: 50%;
    border: 0.5 solid #717275;
    background-color: transparent;
    font-family: Dana-Demibold;
}

div.join .btn:hover {
    background-color: #f65129;
    transition: 0.5s;
    transform: scale(1.2);
    border-radius: 50%;
    color: white;
}

/* SHOP SECTION */


/* RIVIEW SECTION */

div.review {
    background-color: #f9f9f9;
    padding: 30px;
    padding-right: 64px;
}

.review>span {
    font-family: Dana-Medium;
    font-size: 15px;
    margin-top: 16px;
}

.review>h2 {
    font-family: Dana-Demibold;
    font-size: 40px;
    color: black;
    padding-bottom: 20px;
}

.comment {
    border: 1px solid #dddddd;
    padding: 15px;
    background: rgb(246, 81, 41);
    background: linear-gradient(0deg, rgba(246, 81, 41, 0.7456232492997199) 0%, rgba(205, 205, 205, 0.22461484593837533) 100%);
}

.comment .rating {
    margin-left: 20px;
}

swiper-container {
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
    margin-top: -20px;
}

.mySwiper .card .card-body .card-title {
    font-family: Dana-Demibold;
    letter-spacing: -2px;
}

.mySwiper .card .card-body>p {
    font-family: Dana-Medium;
    font-size: 15px;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.review-2 {
    background-color: #f9f9f9;
}

.comfacebook {
    font-family: Dana-Regular;
}

.comfacebook>a {
    background-color: #1877f2;
    border-radius: 50px;
    color: white;
    padding: 15px 30px;
    margin: 20px 10px;
    transition: 0.5s;
}

.comfacebook>a:hover {
    background-color: white;
    border: 2px solid #1877f2;
    border-radius: 50px;
    color: #1877f2;
    transition: 0.5s;
}

/* RIVIEW SECTION */


/* CONTACT SECTION */
.contact-title {
    font-family: Dana-Medium;
    font-size: 15px;
    margin-top: 16px;
}

.contact-title-2 {
    font-family: Dana-Demibold;
    font-size: 40px;
    color: black;
    padding-bottom: 20px;
}

.formcontact .formcontact-1 {
    background-color: #ffd74f;
    padding: 30px 20px;
    border-top: 20px solid #f65129;
    border-radius: 20px;
    color: white;

}

.contactinfo {
    padding-right: 40px;
}

.contactinfo h3 {
    font-family: Dana-Demibold;
    letter-spacing: -1px;
    font-size: 25px;
    margin: 15px 0px;
}

.contactinfo p {
    font-family: Dana-light;
    font-size: 20px;
}

.contactinfo p i {
    color: #f65129;
}

.google-map {
    width: 88%;
    margin: 10px auto;
    border-radius: 20px;
    margin-top: 20px;
}

.formcontact .formcontact-2 {
    border-radius: 20px;
    font-family: Dana-Medium;
    font-size: 13px;
}

div.firstname,
div.lastname,
div.emailAd,
div.textarea {
    padding: 5px 10px;
    background-color: white;
    display: flex;
    align-items: center;
    border: 1px solid #b2b2b2;
    border-radius: 5px;

}

div.textarea {
    display: flex;
    align-items: start;

}

label.text {
    padding-top: 12px;
}

button.btn {
    padding: 10px 30px;
}

/* CONTACT SECTION */


/* FOOTER SECTION */
footer {
    font-family: Dana-Demibold;
    color: #e9eaeb;
}

.footersite p {
    font-family: Dana-light;
    font-size: 20px;
}

.footerparag,
.webdesign {
    font-family: Dana-light;
    font-size: 22px;

}

p.copyright {
    font-size: 15px;
}

i.fa-twitter {
    color: #1da1f2;
}

i.fa-facebook {
    color: #1877f2;
}

i.fa-instagram {
    color: #c13584;
}

i.fa-pinterest {
    color: #e60023;
}

i.fa-whatsapp {
    color: #128c7e;
}

/* FOOTER SECTION */

/* SHOPLIST SECTION */
.shoplist-1 {
    background-image: url('../assets/Image/info/info.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
}

.shoplist-1 h3 {
    font-family: Dana-Bold;
    color: white;
    font-size: 50px;
    text-align: left;
    margin-left: 250px;
    margin-bottom: 50px;
    letter-spacing: -1px;
}
.formshoplist{
    font-family: Dana-Medium;
}
.shoplist-title h2{
    font-family: Dana-Bold;
    font-size: 30px;
}
.shoplist-title p{
    font-family: Dana-Regular;
}

/* SHOPLIST SECTION */

/* SHOPDETAIL SECTION */
.shopdetail-1 {
    background-image: url('../assets/Image/info/info.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
}

.shopdetail-1 h3 {
    font-family: Dana-Bold;
    color: white;
    font-size: 50px;
    text-align: left;
    margin-left: 250px;
    margin-bottom: 50px;
    letter-spacing: -1px;
}
/* SHOPDETAIL SECTION */

/* SHOPDETAIL SECTION */
.firstdetail{
    font-family: Dana-Medium;
    background-color: #f9f9f9;
}
span.red{
color: #f65129;
font-family: Dana-Bold;
}
span.green{
    color: #00a05d;
    font-family: Dana-Bold;
}
span.gray{
    font-family: Dana-Bold;
    letter-spacing: -1px;
}
.twicedetail-2{
    font-family: Dana-Regular;
}
.twicedetail-2 h3{
    font-family: Dana-Bold;
    font-size: 30px;
    letter-spacing: -1px;
}
/* SHOPDETAIL SECTION */